@using HentaiBlazor.Data.Basic;
@using System.ComponentModel.DataAnnotations
@using System.Text.Json

@inherits ModalTemplate<BCatalogEntity>

<Form Model="@catalog"
      LabelCol="new ColLayoutParam { Span = 8 }"
      WrapperCol="new ColLayoutParam { Span = 16 }"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">

    <FormItem Label="用途">
        <RadioGroup @bind-Value="@context.Usage">
            <Radio Value="@("ANIME")">动画</Radio>
            <Radio Value="@("COMIC")">漫画</Radio>
        </RadioGroup>
    </FormItem>
    <FormItem Label="文件夹路径">
        <Input @bind-Value="@context.Path" />
    </FormItem>
    <FormItem Label="包含子文件夹">
        <Checkbox @bind-Value="@context.Children" />
    </FormItem>
    <FormItem Label="备注">
        <TextArea MinRows="2" MaxRows="6" @bind-Value="@context.Note" />
    </FormItem>

    <Divider />

    <FormItem WrapperCol="new ColLayoutParam{ Offset = 8, Span = 16 }">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            提交
        </Button>
    </FormItem>

</Form>
