@using HentaiBlazor.Data.Comic

@inherits DrawerTemplate<string, string>

<Form Model="@bookEntity"
      LabelCol="new ColLayoutParam { Span = 4 }"
      WrapperCol="new ColLayoutParam { Span = 20 }"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">

    <FormItem Label="路径">
        <span>@context.Path</span>
    </FormItem>
    <FormItem Label="名称">
        <span>@context.Name</span>
    </FormItem>

    <FormItem Label="标题">
        <Input @bind-Value="@context.Title" />
    </FormItem>
    <FormItem Label="作者">
        <Input @bind-Value="@context.Author" />
    </FormItem>
    <FormItem Label="语言">
        <Input @bind-Value="@context.Language" />
    </FormItem>

    <FormItem Label="备注">
        <TextArea MinRows="2" MaxRows="6" @bind-Value="@context.Note" />
    </FormItem>

    <FormItem WrapperCol="new ColLayoutParam{ Offset = 4, Span = 20 }">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            提交
        </Button>
    </FormItem>

</Form>