@page "/comic/book/list"

@using HentaiBlazor.Data.Comic
@using HentaiBlazor.Ezcomp

<PageContainer Title="漫画">
    <Row Gutter="24" Style="margin-bottom: 0.5rem">

        <Col Span="18">
        <Space>

            <SpaceItem>
                <InputGroup Compact>
                    <Input Placeholder="目录" Style="width: 15rem;" @bind-Value="searchCatalog">
                    <Prefix>
                        <Icon Type="folder" />
                    </Prefix>
                    </Input>
                    <Input Placeholder="作者" Style="width: 15rem;" @bind-Value="searchAuthor">
                    <Prefix>
                        <Icon Type="team" />
                    </Prefix>
                    </Input>
                    <Input Placeholder="关键词" Style="width: 15rem;" @bind-Value="searchKeyword">
                    <Prefix>
                        <Icon Type="filter" />
                    </Prefix>
                    </Input>
                </InputGroup>
            </SpaceItem>
            <SpaceItem>
                <Button Type="primary" OnClick="()=>Search()">查询</Button>
            </SpaceItem>
        </Space>
        </Col>

    </Row>


    <Table TItem="CBookEntity" DataSource="@CBookEntities">
        <ActionColumn>
            <Space>
                <SpaceItem>
                    <Button Type="primary" OnClick="()=>OpenModify(context.Id)">修改</Button>
                </SpaceItem>
            </Space>
        </ActionColumn>
        <Column Title="作者" @bind-Field="@context.Author"></Column>
        <Column Title="标题" @bind-Field="@context.Title">
            <Tooltip Placement="@PlacementType.TopLeft" Title="@context.Name">
                <NavLink href="@("/comic/detail/" + context.Id)">
                    @context.Title
                </NavLink>
            </Tooltip>
        </Column>
        <Column Title="语言" @bind-Field="@context.Language">
            <TextLanguage Language="@context.Language" />
        </Column>
        <Column Title="目录" @bind-Field="@context.Path"></Column>
        <Column Title="大小" @bind-Field="@context.Length"></Column>
    </Table>
</PageContainer>

@code {




} 