@page "/comic/index"

@using HentaiBlazor.Data.Comic
@using HentaiBlazor.Ezcomp

<PageContainer Title="热辣漫画">
    <Space Style="float: right;">
        <SpaceItem>
            <ButtonSortable Sortable="sortable" Name="@nameof(CBookEntity.XInsert_)" Text="加入时间"
                            @onclick="() => Sort(nameof(CBookEntity.XInsert_))"/>
            <ButtonSortable Sortable="sortable" Name="@nameof(CBookEntity.Author)" Text="作者作品"
                            @onclick="() => Sort(nameof(CBookEntity.Author))"/>
            <ButtonSortable Sortable="sortable" Name="@nameof(CBookEntity.Name)" Text="文件路径"
                            @onclick="() => Sort(nameof(CBookEntity.Name))"/>
        </SpaceItem>
    </Space>

    <Space Style="margin-bottom: 0.5rem;">
        <SpaceItem>
            <Input Prefix="@_filter" Placeholder="关键字" Style="width: 12rem;"
                   @bind-Value="searchKeyword" />
            <Input Prefix="@_folder" Placeholder="目录" Style="width: 12rem;"
                   @bind-Value="searchCatalog" />
            <Input Prefix="@_team" Placeholder="作者" Style="width: 12rem;"
                   @bind-Value="searchAuthor" />
        </SpaceItem>
        <SpaceItem>
            <Button Type="@ButtonType.Primary" @onclick="Search">查询</Button>
        </SpaceItem>
    </Space>

    <AntList ItemLayout="ListItemLayout.Horizontal"
             Grid="gutter" DataSource="_CBookEntities">
        <ListItem Grid="gutter">
            <Card Size="small" Hoverable
                  Cover="@coverTemplate(@context.Id)">
                <ChildContent>
                    <div>
                        <Icon Type="heart" Style="color: orangered;" Theme="@(context.Favorite ? "fill" : "outline")" />
                        <TextLanguage Language="@context.Language" />
                    </div>
                    <CardMeta Style="font-size: 0.75rem" Title="@context.Title" Description="@context.Author" />
                </ChildContent>
                <ActionTemplate>
                    <CardAction>
                        <Icon Type="info" OnClick="() => OpenDetail(context.Id, context.Title)" />
                    </CardAction>
                    <CardAction>
                        <a href="@("comic/viewer/" + context.Id)" target="_blank">
                            <Icon Type="eye" />
                        </a>
                    </CardAction>
                </ActionTemplate>
            </Card>
        </ListItem>
    </AntList>

    <Pagination Total="BookPaginator.Total"
                PageSize="BookPaginator.PageSize"
                PageIndex="BookPaginator.PageIndex"
                ShowQuickJumper="true"
                OnPageIndexChange="_paging"
                OnPageSizeChange="_sizing" />

</PageContainer>

@code
{
    RenderFragment _folder =@<Icon Type="folder" />;
RenderFragment _team =@<Icon Type="team" />;
RenderFragment _filter =@<Icon Type="filter" />;

public ListGridType gutter = new ListGridType
{
Gutter = 8,
Xs = 2,
Sm = 2,
Md = 4,
Lg = 4,
Xl = 5,
Xxl = 5,
Column = 10
};

private RenderFragment coverTemplate(string id)
{
return @<div style="height: 200px; overflow: hidden;"><Image PreviewSrc="@("/api/Book/Cover/" + id)" Src="@("/api/Book/Cover/" + id)" /></div>;
}

}
