@page "/comic/index"

@using HentaiBlazor.Data.Comic

<PageContainer Title="漫画">

    <div style="float: right;">
        <Button Size="small">
            时间
        </Button>
        <Button Size="small">
            作者
        </Button>
        <Button Size="small">
            标题
        </Button>
    </div>

    <Space Style="margin-bottom: 0.5rem;">
        <SpaceItem>
            <Input Prefix="@_filter" Placeholder="关键字" Style="width: 12rem;"
                   @bind-Value="searchKeyword" />
            <Input Prefix="@_folder" Placeholder="目录" Style="width: 12rem;"
                   @bind-Value="searchCatalog" />
            <Input Prefix="@_team" Placeholder="作者" Style="width: 12rem;"
                   @bind-Value="searchAuthor" />
        </SpaceItem>
        <SpaceItem>
            <Button Type="@ButtonType.Primary" @onclick="ReSearch">查询</Button>
        </SpaceItem>
    </Space>

    <AntList ItemLayout="ListItemLayout.Horizontal"
             Grid="gutter" DataSource="_CBookEntities">
        <ListItem Grid="gutter">
            <Card Size="small" Hoverable
                  Cover="@coverTemplate(@context.Cover_)">
                <ChildContent>
                    <CardMeta Style="font-size: 0.75rem" Title="@context.Title" Description="@context.Author" />
                </ChildContent>
                <ActionTemplate>
                    <CardAction><Icon Type="info" OnClick="() => OpenDetail(context.Id, context.Title)" /></CardAction>
                    <CardAction><Icon Type="eye" OnClick="@(()=> NavigateTo("comic/viewer/" + context.Id))" /></CardAction>
                </ActionTemplate>
            </Card>
        </ListItem>
    </AntList>

    <Pagination Total="BookPaginator.Total"
                PageSize="BookPaginator.PageSize"
                PageIndex="BookPaginator.PageIndex"
                OnPageIndexChange="_paging"
                OnPageSizeChange="_sizing" />

</PageContainer>

@code
{
    RenderFragment _folder =@<Icon Type="folder" />;
    RenderFragment _team =@<Icon Type="team" />;
    RenderFragment _filter =@<Icon Type="filter" />;

    public ListGridType gutter = new ListGridType { Gutter = 8, Column = 10 };

    private RenderFragment coverTemplate(string cover)
    {
        return @<div style="height: 200px; overflow: hidden;"><Image PreviewSrc="@cover" Src="@cover" /></div>;
    }
}
