@page "/comic/index"

@using HentaiBlazor.Data.Comic;

<PageContainer Title="漫画">

    <Button Type="primary" @onclick="RefreshCover">查询</Button>

    <Pagination Total="BookPaginator.Total"
                PageSize="BookPaginator.PageSize"
                PageIndex="BookPaginator.PageIndex"
                OnPageIndexChange="BookPaginator.HandlePageIndexChange"
                OnPageSizeChange="BookPaginator.HandlePageSizeChange"
                Style="margin-bottom: 0.5rem;" />

    <AntList ItemLayout="ListItemLayout.Horizontal"
                Grid="gutter" DataSource="@BookPaginator.Paged()">
        <ListItem Grid="gutter">
            <Card Hoverable Style="width: 240px" Cover="@coverTemplate(@context.Cover)">
                <CardMeta Title="@context.Title" Description="@context.Author" />
            </Card>
        </ListItem>
    </AntList>

    <Pagination Total="BookPaginator.Total"
                PageSize="BookPaginator.PageSize"
                PageIndex="BookPaginator.PageIndex"
                OnPageIndexChange="BookPaginator.HandlePageIndexChange"
                OnPageSizeChange="BookPaginator.HandlePageSizeChange" />

</PageContainer>

@code {

    public ListGridType gutter = new ListGridType { Gutter = 8, Column = 5 };

    private RenderFragment coverTemplate(string cover)
    {
        return @<img alt="example" src="@cover" />;
    }
}
