@page "/security/user/list"

@using HentaiBlazor.Data.Security

<PageContainer Title="用户管理">

    <Space Style="margin-bottom: 0.5rem">
        <SpaceItem>
            <Input Prefix="@_filter" Placeholder="关键字" Style="width: 12rem;"
                   @bind-Value="searchKeyword" />
        </SpaceItem>
        <SpaceItem>
            <Button Type="@ButtonType.Primary" @onclick="Search">查询</Button>
            <Button Type="@ButtonType.Primary" OnClick="() => OpenEdit(null)">添加</Button>
        </SpaceItem>
    </Space>

    <Table TItem="SUserEntity" DataSource="@SUserEntities" Size=@TableSize.Small>
        <ActionColumn Width="160">
            <Space>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" Danger OnClick="() => OpenRemove(context.Id)">删除</Button>
                    <Button Type="@ButtonType.Primary" OnClick="() => OpenEdit(context.Id)">修改</Button>
                </SpaceItem>
            </Space>
        </ActionColumn>
        <Column Title="登录名" @bind-Field="@context.Username"></Column>
        <Column Title="密码" @bind-Field="@context.Password"></Column>
        <Column Title="昵称" @bind-Field="@context.Name"></Column>
        <Column Title="头像" @bind-Field="@context.Avatar"></Column>
        <Column Title="备注" @bind-Field="@context.Note"></Column>
    </Table>

</PageContainer>

@code {
    RenderFragment _filter =@<Icon Type="filter" />;
}
